.services-section {
  padding: var(--spacing-large) var(--spacing-medium);
  text-align: center;
  background-color: var(--primary-color);
  overflow-x: hidden; 
}

.services-section h2 {
  font-family: var(--font-primary);
  font-size: 2.5em;
  color: var(--accent-color-1);
  margin-bottom: var(--spacing-large);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  justify-content: center;
  max-width: 100%;
  box-sizing: border-box;
}

.service-card {
  background-color: var(--background-secondary-color);
  border-radius: 12px;
  padding: var(--spacing-medium);
  width: 30%;
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.service-icon {
  font-size: 3em;
  color: var(--accent-color-1);
  margin-bottom: var(--spacing-small);
}

.service-card h3 {
  font-family: var(--font-secondary);
  font-size: 1.5em;
  color: var(--text-color);
  margin-bottom: var(--spacing-small);
}

.service-card p {
  font-family: var(--font-secondary);
  font-size: 1em;
  color: var(--text-secondary-color);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .services-container {
    flex-direction: column;
    gap: var(--spacing-medium);
    padding: 0 var(--spacing-small);
  }

  .service-card {
    width: 95%;
    margin: auto;
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-small);
  }
  .services-section h2 {
    font-size: 2em;
  }
}
