/* TechnologiesChart.css */

.technologies-chart {
    max-width: 600px;
    margin: var(--spacing-large) auto;
    padding: var(--spacing-medium);
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: center;
  }
  
  .technologies-chart h2 {
    font-family: var(--font-primary);
    color: var(--accent-color-1);
    margin-bottom: var(--spacing-large);
    font-size: 2.5em;
  }
  
  @media screen and (max-width: 768px) {
    .technologies-chart h2 {
      font-size: 2em;
    }
    
  }