.phone-link-container {
    display: inline-block;
    margin: 10px 0;
  }
  
.reveal-phone-button {
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: 1em;
    font-weight: var(--heading-font-weight);
    color: #ffffff;
    background-color: var(--accent-color-1); 
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-speed) var(--transition-ease);
    cursor: pointer;
    width: 180px;
    text-align: center;
  }
  
.reveal-phone-button:hover {
  background-color: var(--highlight-color); 
  text-decoration: none;
  color: white;
  }
  
  .phone-link {
    color: var(--accent-color-1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .phone-link:hover {
    text-decoration: underline;
    color: var(--highlight-color);
  }
  