.contact-section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.contact-section h1 {
  font-size: 2.5em;
  color: var(--accent-color-1);
  margin-bottom: 15px;
}

.contact-section p {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: var(--text-secondary-color);
}

.contact-section .fa-computer-mouse {
  margin-left: 5px;
  color: var(--accent-color-1); 
}
@media screen and (max-width: 768px) {
.contact-section p {
  font-size: 1em;
}
}