/* Palette de Couleurs */
:root {
  /* Couleurs Principales */
  --primary-color: #dbcfb059; /* Beige clair pour le fond principal, compatible avec les accents bleus */
  --accent-color-1: #046296; /* Bleu profond pour les liens et boutons */
  --accent-color-2: #00244D; /* Bleu très foncé pour les surbrillances ou textes en gras */

  /* Couleurs de Fond */
  --background-color: #FFFFFF; /* Blanc pour le fond principal */
  --background-secondary-color: #04629629; /* bleu clair */

  /* Couleurs de Texte */
  --text-color: #000000; /* Noir pour le texte principal, en accord avec le logo */
  --text-secondary-color: #333333; /* Gris foncé pour le texte secondaire */
  --link-color: #046296; /* Bleu profond pour les liens */
  --highlight-color: #00244D; /* Bleu très foncé pour les éléments de surbrillance */

  /* Typographie */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --base-font-size: 16px;
  --heading-font-weight: 700;
  --body-font-weight: 400;

  /* Espacements */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Ombres */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  /* Transitions */
  --transition-speed: 0.3s;
  --transition-ease: ease-in-out;
}
