.footer {
  background-color: var(--background-secondary-color); /* Fond clair */
  color: var(--text-secondary-color); /* Texte gris foncé */
  padding: var(--spacing-medium);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);
}

.footer-links,
.footer-social {
  display: flex;
  gap: var(--spacing-medium);
}

.footer-link,
.footer-social-link {
  color: var(--accent-color-1); /* Bleu profond pour les liens */
  text-decoration: none;
  transition: color var(--transition-speed) var(--transition-ease);
}

.footer-link:hover,
.footer-social-link:hover {
  color: var(--accent-color-2); /* Surbrillance en bleu très foncé */
}

.footer-legal {
  font-size: 0.875rem;
  color: var(--text-secondary-color); /* Texte secondaire pour la mention légale */
  margin-top: var(--spacing-small);
}
